-i https://pypi.org/simple
base58==2.0.0
bitcoin==1.1.42
certifi==2019.11.28
chardet==3.0.4
cytoolz==0.10.1 ; implementation_name == 'cpython'
eth-hash==0.2.0
eth-typing==2.2.1
eth-utils==1.8.4
idna==2.8
minter-sdk==1.0.16
mnemonic==0.19
pyqrcode==1.2.1
pysha3==1.0.2
requests==2.22.0
rlp==1.2.0
toolz==0.10.0
urllib3==1.26.5
